﻿@using Shop.Web.Utilities.Enums;

@{
    ViewBag.Title = "Sklep z książkami";
}
<div class="row">
    <div class="col-md-12">
        <h2>Katalog książek</h2>

        <div id="tabs">
            <ul>
                <li><a href="@Url.Action("GetBooks","Home", new { filterType = eBookFilter.All })">Wszystkie</a></li>
                <li><a href="@Url.Action("GetBooks","Home", new { filterType = eBookFilter.Audiobook })">Audiobooki</a></li>
                <li><a href="@Url.Action("GetBooks","Home", new { filterType = eBookFilter.Ebook })">E-booki</a></li>
                <li><a href="@Url.Action("GetBooks","Home", new { filterType = eBookFilter.New })">Nowości</a></li>
                <li><a href="@Url.Action("GetBooks","Home", new { filterType = eBookFilter.Announcement })">Zapowiedzi</a></li>
                <li><a href="@Url.Action("GetBooks","Home", new { filterType = eBookFilter.GoodDeal })">Super okazje</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="addBookToCartContainer" hidden="hidden"></div>

<script>
    $(function () {
        $("#tabs").tabs();
    });

    $('#searchButton').click(function () {
        var filterVal = $('#searchFilter').val();

        var filterBooksPartialUrl = $('.ui-state-active:first a').attr("href");

        //get active tab content
        var tabToFil = $("[aria-hidden='false']");

        $.ajax({
            url: filterBooksPartialUrl,
            data: { filter : filterVal},
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                if (data == "false") {
                    alert("W bazie danych nie odnaleziono produktów spełniających podane kryteria szukania");
                }
                else {
                    tabToFil.html(data);
                }
            }
        });
    });
</script>