﻿@model Shop.Web.Models.ViewModels.AddBookModel


@using (Html.BeginForm("AddBookToCart", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="container">
        <div class="form-group row">
            @Html.HiddenFor(b => b.Id)
            @Html.LabelFor(b => b.Name, new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(b => b.Name, new { @class = "form-control", @readonly = true })
                @Html.ValidationMessageFor(b => b.Name)
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(b => b.CarrierId, new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.CarrierId, new SelectList(Model.Carriers, "Id", "Name"), new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(b => b.CarrierId)
            @Html.HiddenFor(b => b.CarrierName)
        </div>
        <div class="form-group row">
            @Html.LabelFor(b => b.Amount, new { @class = "col-sm-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(b => b.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(b => b.Amount)
            </div>
        </div>
        <hr />
        <div class="form-group row" style="text-align:right;">
            <div class="col-sm-11">
                <button id="cancelAddBtn" class="btn btn-default" style="width:60px;" type="button">Anuluj</button>
                <input class="btn btn-primary" style="width:60px;" type="submit" value="OK" />
            </div>
        </div>
    </div>
}

<script>
    $('#CarrierId').on('change', function () {

        var dropDpwn = document.getElementById("CarrierId");
       
        var selectedValue = dropDpwn.options[dropDpwn.selectedIndex].text;
        
        $('#CarrierName').val(selectedValue);
    });

    $('#cancelAddBtn').click(function(){
        $('#addBookToCartContainer').dialog('close');
    })

</script>

