﻿@using Shop.Web.Models.ViewModels
@model BookListModel

<table class="table-striped">
    <thead>
        <tr>
            <th>@Html.LabelFor(b => b.Books[0].Name)</th>
            <th>@Html.LabelFor(b => b.Books[0].ReleaseDate)</th>
            <th>@Html.LabelFor(b => b.Books[0].Price)</th>
            <th>@Html.LabelFor(b => b.Books[0].Author.FullName)</th>
            <th>@Html.LabelFor(b => b.Books[0].PublishingHouse.Name)</th>
            <th></th>
        </tr>
    </thead>
    @for (var i = 0; i < Model.Books.Count; i++)
    {
        <tr>
            @Html.HiddenFor(b => b.Books[i].Id)
            <td>@Html.DisplayFor(b => b.Books[i].Name)</td>
            <td>@Html.DisplayFor(b => b.Books[i].ReleaseDate)</td>
            <td>@Html.DisplayFor(b => b.Books[i].Price)</td>
            <td>@Html.DisplayFor(b => b.Books[i].Author.FullName)</td>
            <td>@Html.DisplayFor(b => b.Books[i].PublishingHouse.Name)</td>
            <td><button class="btn btn-default" type="button" onclick="addBookPartialOpen(@Model.Books[i].Id)">Do koszyka</button></td>
        </tr>
    }
</table>

<script>

    function addBookPartialOpen(bookId) {
        var addBookToCartPartialUrl = '@Url.Action("OpenAddBookToCartAjax", "Home")';

        $('#addBookToCartContainer').dialog({
            autoOpen: false,
            modal: true,
            width: 450,
            height: 300,
            title: 'Dodaj do koszyka',
            resizable: false,
            draggable: false,
            position: {
                my: "center",
                at: "center",
                of: window
            }
        });

        $.ajax({
            url: addBookToCartPartialUrl,
            data: { bookId: bookId},
            type: 'GET',
            dataType: 'html',
            success: function (data) {
                $('#addBookToCartContainer').html(data);
                
                $('#addBookToCartContainer').dialog('open');
            }
        });
    };
</script>
