﻿@using Shop.Web.Models.ViewModels
@{
    var layoutModel = (BooksCartModel)ViewBag.LayoutModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="header">
        <div class="headerTitleSection">
            <h1>Księgarnia Internetowa</h1>
            <h4>Nasz sklep prowadzimy z pasją!</h4>
        </div>
        <div class="headerCartSection">
            <div style="float:left;width:40%">
                <input class="control-label" style="float:left; margin: 3px;" type="text" id="searchFilter" />
                <button style="float:right" type="button" id="searchButton" class="btn btn-default">Szukaj</button>
            </div>
            <div style="float: right; height: 40px; width:60%">
                <div class="yourCart"><a href="#">Twój koszyk</a></div>
                <div class="productsCount">Liczba produktów: @layoutModel.TotalItems</div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div id="showCartDialog" hidden="hidden"></div>
    <div id="wait"></div>

    <script>
        $(document).on({
            ajaxStart: function () { $("#wait").addClass("loading"); },
            ajaxStop: function () { $("#wait").removeClass("loading"); }
        });

        $('.yourCart').click(function (e) {
            e.preventDefault();

            var showCartPartialUrl = '@Url.Action("ShowCartAjax", "Home")';

            $('#showCartDialog').dialog({
                autoOpen: false,
                modal: true,
                width: 600,
                height: 400,
                title: 'Twój koszyk',
                resizable: false,
                draggable: false,
                position: {
                    my: "center",
                    at: "center",
                    of: window
                }
            });

            $.ajax({
                url: showCartPartialUrl,
                type: 'GET',
                dataType: 'html',
                success: function (data) {

                    $('#showCartDialog').html(data);

                    $('#showCartDialog').dialog('open');
                }
            });
        });

        $("#searchFilter").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#searchButton").click();
            }
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
