﻿@using Shop.Web.Models.ViewModels
@model BooksCartModel

<table class="table-striped">
    <thead>
        <tr>
            <th>@Html.LabelFor(b => b.Books[0].Name)</th>
            <th>@Html.LabelFor(b => b.Books[0].CarrierName)</th>
            <th>@Html.LabelFor(b => b.Books[0].Amount)</th>
        </tr>
    </thead>
    @for (var i = 0; i < Model.Books.Count; i++)
    {
        <tr>
            @Html.HiddenFor(b => b.Books[i].Id)
            <td>@Html.DisplayFor(b => b.Books[i].Name)</td>
            <td>@Html.DisplayFor(b => b.Books[i].CarrierName)</td>
            <td>@Html.DisplayFor(b => b.Books[i].Amount)</td>
        </tr>
    }
</table>
