﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    width: auto;
    height: 120px;
    padding: 10px 8%;
    border-bottom: 1px solid black;
    margin-top: 0;
    margin-bottom: 10px;
    background: #ffffb3;
    color: black;
}

/*walkaround of dialog close button not showing (bootstrap css after jquery ui)*/
.ui-dialog-titlebar-close {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
  border: medium none;
}
.ui-dialog-titlebar-close:hover {
  background: url("http://code.jquery.com/ui/1.10.3/themes/smoothness/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
}

.ui-tabs .ui-tabs-nav li {
    width:16%;
    text-align: center;
}
.ui-tabs .ui-tabs-nav li a {
    display: inline-block;
    float: none;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}

#wait{
     display:none;
}

.loading {
    display:unset !important;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: white
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
    opacity: 0.8;
    overflow:hidden;
    color: white;
}

table{
    width: 100%;
}

table td{
    padding: 10px 3px;
    text-align: center;
    white-space: nowrap;
    border-left: 1px solid #cceeff;
    border-right: 1px solid #cceeff;
}

table th{
    text-align:center;
    border: 1px solid #cceeff;
    background-color: #ffdd99;
    padding: 8px 3px;
}

table tr:last-child{
    border-bottom: 1px solid #cceeff;
}

.headerTitleSection{
    width:40%;
    float:left
}

.headerCartSection{
    width:50%;
    height: 40px;
    float:right;
    margin: 70px 3px 5px 0;
    padding: 0px;
}

.yourCart{
    float: left;
    text-align: right;
    width:50%;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.productsCount{
    float: right;
    overflow-x: hidden;
    border: 1px solid black;
    text-align: left;
    width:40%;
    padding: 5px;
}

#addBookToCartContainer{
    padding: 15px 10px;
}
